<div class="modal fade" id="deleteDossiers{{dossiers.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document" >
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Suppression</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <form class="card-body" action="" method="POST"  enctype="multipart/form-data">
                {% csrf_token %}

                <div class="modal-body" >
                 voulez vous vraiment supprimer fichier?
                  <div class="card-footer">
                    <a href="{% url 'deletedossier' dossiers.id %}" class="btn btn-outline-info delete-btn mb-2"><i class="fas fa-trash"></i>OUI</a>
                    <!-- <button type="submit" id="id" class="btn btn-outline-info delete-btn" >OUI</button> -->
                    <a type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</a>
                  </div>
            </div>
            </form>
            
        </div>
    </div>
</div> 