<div class="modal fade" id="uploadContrat" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document" >        
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Ajouter un contrat de travail</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body" >
                <form class="card-body" method="POST" action="{% url 'upload_contrat_doc' %}" enctype="multipart/form-data">
                {% csrf_token %}
                
                <div class="md-3">
                    <label  class="form-group" ></label>
                    <input type="text" class="form-control" id="id_type_contrat" name="libelle" placeholder="Entrez le type de contrat" required>
                </div>
                
                <div class="md-3">
                    <label for="formFile" class="form-label" >File</label>
                    <input class="form-control" type="file" id="id_file" name="file" required>
                </div>
    
                <div class="card-footer">
                    <div class="float-right">
                        <button type="submit" class="btn btn-primary">Enregistrer</button>
                        <a type="reset" class="btn btn-secondary" href="{% url 'index' %}">Retour</a>
                    </div>
                </div>
            </form>

            </div>            
        </div>
    </div>
</div>


            