<div class="modal fade" id="payer{{d.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document" >        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Alerte</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                  <P class="form-group">
                    Voulez vous vraiment effectuer cette opération !!!
                  </P>

                  <div class="card-footer">
                    <a type="submit" href="{% url 'payer_paiement' d.paiement.id %}" class="btn btn-primary">OUI</a>
                    <a type="button" class="btn btn-secondary float-right" data-dismiss="modal">Non</a>
                  </div>
            </div>
            
        </div>
    </div>
</div>