             
                                  <div class="form-group">
                                    <label for="id_intitule">Intitulé</label>
                                    <input type="text" class="form-control" id="id_intitule" value="{{ update_element.intitule_element }}" name="intitule_element" required>
                                </div>
                
                                <!-- Description -->
                                <div class="form-group">
                                    <label for="id_description">Description</label>
                                    <textarea class="form-control" id="id_description"  name="description"  required>{{update_element.description }}</textarea>
                                </div>