<div class="modal fade" id="direction{{d.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document" >        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Profil</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <form class="modal-body" method="POST" action="{% url 'set_direction' %} ">
                  {% csrf_token %}

                  <input type="hidden" name="id_personnel" value="{{d.id}}">

                  <div class="form-group">
                    <label for="exampleInputPassword1">Direction</label>
                    <select class="form-control" name="direction" required>
                        <option disabled></option>
                        {% for dir in directions %}
                            <option value="{{dir.id}}">{{dir.libelle}}</option>
                        {% endfor %}
                    </select>
                  </div>


                  <div class="card-footer">
                    <button type="submit" class="btn btn-primary">Enregister</button>
                    <a type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</a>
                  </div>
            </form>
            
        </div>
    </div>
</div>