 {% extends 'layout/Layout.html'%}

 {% load static %}
 {% block content %}




<div class="card shadow mb-4">
   <div class="card-header py-3">
        <div class="">
            <h4 class="">Liste des employés </h4>
        </div>
        <div class="">                              
            <a class="btn btn-outline-info float-right" href="{% url 'add_employe' %}">NOUVEAU <i class="fas fa-plus"></i></a>
        </div>
   </div>
   <div class="card-body">
      <div class="table-responsive">
         <!-- {% if employe_object %} -->
         <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                     <tr>
                        <th>Matricule</th>
                        <th>Nom</th>
                        <th>Prenom</th>
                        <th>Date naissance</th>
                        <th>Lieu naissance</th>
                        <th>Nombre enfant</th>
                        <th>Spécialité</th>
                        <th>Action</th>
                     </tr>
                  </thead>
                  <tbody>
                     {% for employe in employe_object %}
                     <tr>
                        <td>{{employe.numero_matricule}}</td>
                        <td>{{employe.nom}}</td>
                        <td>{{employe.prenoms}}</td>
                        <td>{{employe.date_naissance| date:"d/m/y"}}</td>
                        <td>{{employe.lieu_naissance}}</td>
                        <td>{{employe.nombre_enfant}}</td>
                        <td>{{employe.specialite}}</td>
                        <td >
                           <div class="d-flex">
                              <div><a href="{% url  'dossier_employe' employe.id %}" type="button" class="btn btn-outline-warning"><i class="fas fa-folder"></i></a></div>                                        
                              <div><a href="{% url 'show_employe' employe.id %}" type="button" class="btn btn-outline-primary"><i class="fa fa-file"></i></a></div>

                              <div><a href="{% url 'updateemploye' employe.id %}" type="button" class="btn btn-outline-success"><i class="fas fa-pen"></i></a></div>
                                              
                              <div><button type="button" data-toggle="modal" data-target="#delete{{employe.id}}" class="btn btn-outline-danger"><i class="fas fa-trash"></i></button></div>
                           </div>
                        </td>             
                     </tr>
                     {% include  'employe/modal_update_form.html' %}
                     {% endfor %}                
                  </tbody>
               </table>
                <!-- {% else %}
                <h4 class="text-center alert alert-warning"> Pas d'empployés </h4>
                {% endif %} -->
            </div>
        </div>
    </div>
{% endblock %}